/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* schermata principale */

.main-container{
    background-color: black;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}



/* pulsanti in alto a destra */

.pulsanti{
    position: absolute;
    right: 5px;
    top: 5px;
}

.pulsanti button{
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    background-image:linear-gradient(rgb(156, 156, 156), rgb(0, 0, 0));
}

.pulsanti .fa-square{
    margin-right: 4px;
}



/* frecce laterali */


.freccia{
    display: flex;
    color: white;
    width: 20px;
    flex-direction: column;
}

.freccia .fa-caret-left{
    color: lightgray;
    font-size: 35pt;
}

.freccia.snt{
    margin-left: 20px;
    justify-content: center;
}

.freccia .fa-caret-right{
    color: rgb(15, 207, 255);
    font-size: 35pt;
}

.freccia.dst{
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}


/* foto */

.container-foto{
    width: 95%;
    height: calc(90vh - 70px) ;
    margin: 20px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
}

.container-foto .foto{
    display: flex;
    width: calc(100% / 5 - 5px);
    height: calc(100% / 5 - 5px);
    background-image: url(https://media.giphy.com/media/1d7F9xyq6j7C1ojbC5/giphy.gif);
    background-size: cover;
    position: relative;
}


.container-foto .foto i{
    margin-right: 7px;
}


.container-foto .foto span{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 11pt;
    color: white;
}




/* footer */

footer{
    width: 100%;
    height: 70px;
    background-color: rgb(32 33 35);
    display: flex;
    align-items: center;
    /* padding: 0 20px; */
    color: white;
    font-size: 10pt;
}

footer i{
    font-size: 20pt;
    
}

footer .fa-chevron-up{
    font-size: 12pt;
    align-self: center;
}

.footer-snt{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.footer-ctl{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
}

.icona span{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.fa-share-square{
    color: rgb(75 200 0);
}

.footer-dst{
    width: 10%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(74 75 77);
    color: rgb(208 81 75);
    height: 100%;
    align-items: center;
    font-size: 12pt;
}


/* debug */

/* .debug .main-container{
    background-color: aqua;
} */

/* .debug .container-foto{
    background-color: chartreuse;
} */

/* .debug .foto{
    background-color: blue;
} */

/* .debug footer{
    background-color: crimson;
} */